# Ignore ROS2 build artifacts
install/
log/
build/

# Ignore generated docs
*.dox
*.wikidoc

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

*~

# Python
__pycache__/
*.pyc

# Backup / temp
*~

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE